<!DOCTYPE html>
<html>

<head>
    <title>ReBook</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="icon" href="static/icon.ico" type="image/x-icon">
    <style>
        h1 {
            text-align: center;
        }
    </style>

<style>
    h1 {
        text-align: center;
    }

    .mb-4 {
        margin-bottom: 4rem;
    }
</style>

</head>

<body>
    <h1>Catálogo</h1>

    <div class="container">
        <h2>Contos</h2>
        <p>
            <div class="row justify-content-center text-center">
                <a href="anseios?nomeDoConto=anseios" class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Anseios</h5>
                            <img src="{{ url_for('static', filename='anseios.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Elias é um jovem com futuro promissor. Ele está indo ao Barbera, o restaurante mais popular da região, para uma confraternização entre conhecidos. Isso será bom para todos se reaproximarem após tanto tempo de distância.</p>
                        </div>
                    </div>
                </a>
        
                <a href="seisirmaos?nomeDoConto=seisirmaos" class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Seis Irmãos</h5>
                            <img src="{{ url_for('static', filename='6irmaos.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Daniel é irmão adotivo de cinco garotas, todas da mesma família, que passou por uma tragédia recentemente. Agora, eles precisam encarar o trauma recente e lidar com instabilidades financeiras e os dramas de uma família desestruturada.</p>
                        </div>
                    </div>
                </a>
                
        
                <a href="forca?nomeDoConto=forca" class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Força</h5>
                            <img src="{{ url_for('static', filename='forca.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Yoran frequenta uma escola de Karatê, onde treina ao lado de sua amiga, um bela menina de nome Zana Seninar. Ele deseja conquistá-la, mostrar que merece seu respeito e amor sendo o melhor em um campeonato que ocorrerá em seu ginásio.</p>
                        </div>
                    </div>
                </a>
            </div>

                <a href="quandovocepartiu?nomeDoConto=quandovocepartiu" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Quando Você Partiu</h5>
                            <img src="{{ url_for('static', filename='quandovocepartiu.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Jonas luta contra o luto e a depressão após a morte de sua esposa. Ele passará por uma jornada em busca pela ressignificação de sua existência, a superação da perda, o enfrentamente à pessoa amargurada que se tornou, para então poder se tornar um novo homem.</p>
                        </div>
                    </div>
                </a>
            <p>
            <p>
            <h2>Ficções</h2>
            <p>
            <div class="row justify-content-center text-center">        
                <a href="atorredourada?nomeDoConto=atorredourada" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">A Torre Dourada</h5>
                            <img src="{{ url_for('static', filename='atorredourada.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Um grupo de exploradores pensa ter encontrado a resposta para o paradeiro de uma antiga civilização, localizada no coração da Floresta Amazônica, chamada Ratanabá, que acreditava-se ser apenas fruto de teorias conspiratórias e palco para obras de ficção.</p>
                        </div>
                    </div>
                </a>

                <a href="onovobrasil?nomeDoConto=onovobrasil" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">O Novo Brasil</h5>
                            <img src="{{ url_for('static', filename='onovobrasil.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Um grupo desconhecido derrubou o governo brasileiro vigente e assumiu o poder. Sofia, uma jornalista brasileira que mora na França, deseja voltar ao seu país, agora uma nação isolada, para destrinchar o sistema que se estabeleceu lá.</p>
                        </div>
                    </div>
                </a>

                <a href="osoutros?nomeDoConto=osoutros" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Os Outros</h5>
                            <img src="{{ url_for('static', filename='osoutros.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Nos EUA, insurgentes sobrevivem diante dos constantes avanços de uma raça alienígena cujos repreentantes não são conhecidos. Eles invadiram a terra, exploram seus recursos e usam representantes humanos para fazer política.</p>
                        </div>
                    </div>
                </a>

                <a href="afamilianonorte?nomeDoConto=afamilianonorte" class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">A Família no Norte</h5>
                            <img src="{{ url_for('static', filename='afamilianonorte.jpg') }}"
                                class="card-img-top w-100 h-auto" alt="...">
                                <p>
                            <p class="card-text">Um jovem investigador de polícia muda-se para o Amapá para investigar as gangues de tráfico humano que atuam no estado brasileiro. Sua investigação vai levá-lo a uma pequena cidade onde sequestros inexplicáveis, especialmente de crianças, começaram a acontecer.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>

</body>

</html>